In [2]:
import pandas as pd

- Tên bảng viêt thường liền nhau
- Tên cột viết thường cách nhau _
- ID: Viết hoa các chữ đầu, liền nhau và +ID

**Bronze layer**

bronze_yellow_record, bronze_green_record, bronze_fhv_record, bronze_long_lat

In [3]:
yellow = pd.read_parquet("yellow_tripdata_2023-01.parquet")
print(yellow.columns)
yellow.to_csv("yellow_tripdata_2023-01.csv")
yellow.head()

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
green = pd.read_parquet("green_tripdata_2023-01.parquet")
print(green.columns)
green.to_csv("green_tripdata_2023-01.csv")
green.head()

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,N,1.0,166,143,1.0,2.58,14.9,1.0,0.5,4.03,0.0,None,1.0,24.18,1.0,1.0,2.75
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,N,1.0,24,43,1.0,1.81,10.7,1.0,0.5,2.64,0.0,None,1.0,15.84,1.0,1.0,0.00
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,N,1.0,223,179,1.0,0.00,7.2,1.0,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,N,1.0,41,238,1.0,1.30,6.5,0.5,1.5,1.70,0.0,None,1.0,10.20,1.0,1.0,0.00
4,1,2023-01-01 00:33:04,2023-01-01 00:39:02,N,1.0,41,74,1.0,1.10,6.0,0.5,1.5,0.00,0.0,None,1.0,8.00,1.0,1.0,0.00

In [5]:
fhv = pd.read_parquet("fhv_tripdata_2023-01.parquet")
print(fhv.columns)
fhv.to_csv("fhv_tripdata_2023-01.csv")
fhv.head()

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00008,2023-01-01 00:30:00,2023-01-01 01:00:00,NaN,NaN,None,B00008
1,B00078,2023-01-01 00:01:00,2023-01-01 03:15:00,NaN,NaN,None,B00078
2,B00111,2023-01-01 00:30:00,2023-01-01 01:05:00,NaN,NaN,None,B03406
3,B00112,2023-01-01 00:34:45,2023-01-01 00:52:03,NaN,14.0,None,B00112
4,B00112,2023-01-01 00:11:20,2023-01-01 00:22:03,NaN,14.0,None,B00112

**Silver layer**

- YELLOW: bắt đc ở mọi nơi, xuống dc mọi nơi

silver_yellow_pickup: PickUpID, Pickup_datetime, PULocationID

silver_yellow_dropoff: DropOffID, Dropoff_datetime, DOLocationID

silver_yellow_payment: PaymentID, Fare_amount, MTA_tax, Improvement_surcharge, Payment_type, RateCodeID, Extra, Tip_amount, Tolls_amount, Total_amount, Congestion_Surcharge, Airport_fee

silver_yellow_tripinfo: VendorID, PickUpID, DropOffID, PaymentID, Passenger_count, Trip_distance, Store_and_fwd_flag

______________________________________________________________________
- GREEN: chỉ bắt dc ở 1 số chỗ, có thể xuống mọi chỗ

silver_green_pickup: PickUpID, Pickup_datetime, PULocation

silver_green_dropoff: DropOffID, Dropoff_datetime, DOLocation

silver_green_payment: PaymentID, Fare_amount, MTA_tax, Improvement_surcharge, Payment_type, RateCodeID, Extra, Tip_amount, Tolls_amount, Total_amount

silver_green_tripinfo: VendorID, PickUpID, DropOffID, PaymentID, Passenger_count,Trip_distance, Store_and_fwd_flag,  Trip_type

________________________________________________________________
- FHV: Xe phải đặt trước

silver_fhv_pickup: PickUpID, Pickup_datetime, PULocationID

silver_fhv_dropoff: DropOffID, Dropoff_datetime, DOLocationID

silver_fhvinfo: PickUpID, DropOffID, Dispatch_base_num, SR_Flag, Affiliated_base_number

_________________________________________________________________________
**GOLD**

silver_yellow_pickup + silver_green_pickup + silver_fhv_pickup + bronze_long_lat = gold_pickup

silver_yellow_dropoff + silver_green_dropoff + silver_fhv_dropoff + bronze_long_lat = gold_dropoff

silver_yellow_payment + silver_green_payment = gold_payment

silver_yellow_tripinfo + silver_green_tripinfo = gold_tripinfo

_________________________________________________________________
**WAREHOUSE**

warehouse_pickup = gold_pickup

warehouse_dropoff = gold_dropoff

warehouse_payment = gold_payment

warehouse_tripinfo = gold_tripinfo

warehouse_fhvinfo = silver_fhvinfo