In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_parquet("D:/OneDrive - VNU-HCMUS/Introduction to AI/Tuần 3/silver_fhv_pickup.parquet")
df.head(20)

       pickup_datetime  PUlocationID      PickUpID
0  2023-01-01 00:18:35         206.0  202301774621
1  2023-01-01 00:36:19           NaN  202301115225
2  2023-01-01 00:19:18           NaN  202301340976
3  2023-01-01 00:08:14           NaN  202301239812
4  2023-01-01 01:28:36           NaN  202301699087
5  2023-01-01 01:51:16           NaN  202301830506
6  2023-01-01 01:32:44           NaN  202301759107
7  2023-01-01 01:10:35          42.0  202301404790
8  2023-01-01 01:35:16          41.0  202301160086
9  2023-01-01 02:52:30           NaN  202301208489
10 2023-01-01 02:41:49           NaN  202301549038
11 2023-01-01 02:02:34          91.0   20230125630
12 2023-01-01 03:42:17           NaN  202301535338
13 2023-01-01 03:36:49           NaN  202301743006
14 2023-01-01 03:49:49           NaN  202301854161
15 2023-01-01 04:34:08           NaN  202301275558
16 2023-01-01 04:33:36           NaN  202301108095
17 2023-01-01 04:15:42           NaN  202301179594
18 2023-01-01 05:15:21           NaN  202301666898
19 2023-01-01 06:27:27           NaN  202301574078

In [4]:
df = pd.read_parquet("D:/OneDrive - VNU-HCMUS/Introduction to AI/Tuần 3/silver_fhv_dropoff.parquet")
df.head(20)

      dropOff_datetime  DOlocationID     DropOffID
0  2023-01-01 00:31:59          39.0  202301618211
1  2023-01-01 01:39:04         119.0  202301663020
2  2023-01-01 01:25:57         252.0  202301841072
3  2023-01-01 01:59:44          71.0  202301978766
4  2023-01-01 02:23:07          89.0  202301375755
5  2023-01-01 01:31:25         239.0  202301886204
6  2023-01-01 02:07:01         147.0  202301702041
7  2023-01-01 01:41:38         148.0  202301136878
8  2023-01-01 01:43:29         179.0  202301909146
9  2023-01-01 01:47:02          74.0  202301339706
10 2023-01-01 02:47:37         254.0  202301954247
11 2023-01-01 02:16:45         227.0  202301896451
12 2023-01-01 02:55:46           NaN  202301869252
13 2023-01-01 02:39:05          39.0  202301121550
14 2023-01-01 03:19:36         149.0  202301912996
15 2023-01-01 02:18:02          71.0  202301847117
16 2023-01-01 04:12:29         177.0  202301386810
17 2023-01-01 03:06:40         198.0   20230161217
18 2023-01-01 04:24:00         225.0  202301929783
19 2023-01-01 06:44:44         259.0  202301974399